/* Fonts imports */

@font-face {
    font-family: "Gotham Book";
    src: url("/assets/fonts/gotham-book/GothamBook.eot");
    src: local('GothamBook'), url('/assets/fonts/gotham-book/GothamBook.woff') format('woff'), url('/assets/fonts/gotham-book/GothamBook.ttf') format('truetype');
}

@font-face {
    font-family: 'Gotham Medium';
    src: url('/assets/fonts/gotham-medium/Gotham Medium Regular.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/gotham-medium/Gotham Medium Regular.woff') format('woff'),
    url('/assets/fonts/gotham-medium/Gotham Medium Regular.ttf')  format('truetype'),
    url('/assets/fonts/gotham-medium/Gotham Medium Regular.svg#svgFontName') format('svg');
}

@font-face {
    font-family: "Myriad Pro Regular";
    src: url("/assets/fonts/myriad-pro-regular/MYRIADPROREGULAR.eot");
    src: local('MYRIADPROREGULAR'), url('/assets/fonts/myriad-pro-regular/MYRIADPROREGULAR.woff') format('woff'), url('/assets/fonts/myriad-pro-regular/MYRIADPROREGULAR.ttf') format('truetype');
}

/* Custom bootstrap classes */

.mt-0 {
    margin-top: 0 !important;
}

.mt-1 {
    margin-top: 10px !important;
}

.mt-3 {
    margin-top: 30px !important;
}

.ml-1 {
    margin-left: 10px !important;
}

.mr-1 {
    margin-right: 10px !important;
}

.mb-1 {
    margin-bottom: 10px !important;
}

/* Custom .css */

* {
    border-radius: 0 !important;
}

.flexthis.container:before,
.flexthis.container:after,
.flexthis.row:before,
.flexthis.row:after {
    content: normal; // IE doesn't support `initial`
}

.header {
    background-color: #fff;
    padding: 10px 35px 10px 15px;
}

.contact-an-agent {
    font-family: "Gotham Medium" , sans-serif;
    font-size: 19px;
    color: #1fc0de;
}

.contact-phone {
    font-family: "Myriad Pro Regular" , sans-serif;
    font-size: 24px;
    color: #433b32;
}

.main-container {
    background-color: #112c50;
}

.content-container {
    margin-top: 20px;
}

.senior-care-container {
    background-color: white;
}

.senior-care-text {
    padding: 20px;
}

.senior-care-title {
    font-family: 'Gotham Medium', sans-serif;
    font-size: 24px;
    color: #ff7f21;
    margin-bottom: 0
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .senior-care-title {
        font-family: 'Gotham Book', sans-serif;
        font-weight: bold;
    }
    .contact-an-agent {
        font-family: "Gotham Book" , sans-serif;
        font-weight: bold;
        font-size: 20px;
    }
}

.senior-care-subtitle {
    font-family: 'Gotham Book', sans-serif;
    font-size: 24px;
    color: #ff7f21
}

.senior-care-message {
    font-family: 'Gotham Book', sans-serif;
    font-size: 18px;
    color: #928884
}

.form-container {
    background-color: #928884;
    color: white;
    padding: 0 20px !important;
    padding-bottom: 20px !important;
}

input[readonly]{
    background-color: #C9C4C2 !important;
}

select {
    height: 36px !important;
}

.select-state-text {
    color: #998F8B !important;
}

a {
    text-decoration: underline !important;
}

.error-generic {
    background: #fff;
    min-height: 400px;
    padding-top: 100px;
    font-family: "Myriad Pro Regular" , sans-serif;
    font-size: 24px;
}

label.error {
    color: #EBB953;
    margin-bottom: 0 !important;
}

.copyright-text {
    color: #fff;
    font-size: 11px;
    font-family: Arial, sans-serif;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}